#nameOfPrint, #logo, #companyInfo, #sessionId{
    text-align: center;
}

#date, #productName, #sellerInfo, #paymantInfo, #togetherPrice, #cashToBack{
    text-align: left;
}

#numberOfPrint, #productBill, #time, #paymentInfoRight, #togetherPriceRight, #cashToBackRight, #taxInfoRight, #sumaRight{
    text-align: right;
}

#separator{
    border: none;
    border-bottom: 5px dashed black;
}

#separator1{
    border: none;
    border-bottom: 5px double black;
}

.container{
    max-width: 250px;
}

body{
    font-size: 8px;
}